snippet <%
	<% ${1} %>
	  ${2}
	<% end %>
snippet <%=
	<%= ${1} %>
snippet end
	<% end %>
snippet form_for
	<%= form_for(${1}) do |f| %>
		${2}
	<% end %>
snippet if
	<% if ${1} %>
		${2}
	<% end %>
snippet ife
	<% if ${1} %>
		${2}
	<% else %>
		${3}
	<% end %>
snippet render
	<%= render '${1:partial}' %>
